main {
  background-color: white;
  margin: 1.5rem;
  border-radius: 15px;
  overflow: hidden;
  max-width: 400px;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  text-align: center;
  padding: 1rem 2rem;
}

.content h2 {
  margin-bottom: .5rem;
  font-weight: 900;
  color: var(--DarkBlue);
}

.content p {
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: var(--DesaturatedBlue);
  line-height: 1.5;
}


@media (min-width: 450px) {
  body {
    background-image: url(/images/pattern-background-desktop.svg);
    background-size: auto;
  }

}