/* layout */
form {
  gap: 1.25rem; 
}

/* auxiliary */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.mb {
  margin-bottom: .5rem;
  color: var(--Slate-700);
}

/* design */
.form-title {
  color: var(--Slate-900);
  margin: 1rem 0 .5rem;
}

#clear-all {
  background-color: transparent;
  text-decoration: underline;
  color: var(--Slate-700);
  padding: 0;
  text-align: start;
  font-size: 1rem;
}

.form-control {
  color: var(--Slate-700);
}

.frame {
  border: 1px solid var(--Slate-500);
  align-items: stretch;
  border-radius: 5px;
  overflow: hidden;
}

.unit {
  background: var(--Slate-100);
  display: flex;
  align-items: center;
  padding: .75rem 1rem;
  font-weight: var(--fw-700);
  font-size: 1.15rem;
}

.type-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--Slate-700);
  border-radius: 5px;
  padding: .75rem 1.25rem;
  display: flex;
  gap: 1.25rem;
  margin: .75rem 0;
}


.type-container>input {
  transform: scale(1.5);
  accent-color:var(--Lime);
}

.type-container>label {
  font-size: 1.15rem;
  font-weight: var(--fw-700);
  color: var(--Slate-900);
  width: 100%;
}

fieldset {
  border: none;
}

.button-submit {
  background: var(--Lime);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.15rem;
  font-weight: var(--fw-700);
  border-radius: 30px;
  margin-bottom: 1.25rem;
}

/* active */
input:focus-visible {
  outline: none;
}
.flex:has(input:focus) p  {
  background-color:  var(--Lime);
}
.flex:has(input:focus)  {
  border: 1px solid var(--Lime);
}
.type-container:has(input:checked) {
  background-color: rgba(215, 218, 47, 0.2);
  border: 1px solid var(--Lime);
}

/* error */
.error-msg {
  font-size: 0.9rem;
  color: var(--Red);
  margin-top: 0.75rem;
}

.error {
  border: 1px solid var(--Red);
}

.error p {
  background: var(--Red);
  color: var(--White);
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .term-rate {
    display: flex;
    gap: 1.5rem;
  }

  .type-container {
    margin: .5rem 0;
  }

  .button-submit {
    width: 75%;
    padding: 1rem 2.5rem;
  }
}