/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Design */
:root {
  --Reaction: hsl(0, 100%, 67%);
  --Memory: hsl(39, 100%, 56%);
  --Verbal: hsl(166, 100%, 37%);
  --Visual: hsl(234, 85%, 45%);
  --White: hsl(0, 0%, 100%);
  --PaleBlue: hsl(221, 100%, 96%);
  --LightLavender: hsl(241, 100%, 89%);
  --DarkGrayBlue: hsl(224, 30%, 27%);

  /* Gradients */
  --LightSlateBlue: hsl(252, 100%, 67%);     /* background */
  --LightRoyalBlue: hsl(241, 81%, 54%);     /* background */
  --VioletBlue: hsla(256, 72%, 46%, 1);    /* circle */
  --PersianBlue: hsla(241, 72%, 46%, 0);  /* circle */
}

html {
  font-size: 18px;
  font-family: "Hanken Grotesk", serif;
}


#root {
  min-height: 100vh;
}

@media (min-width: 700px) {
  html {
    font-size: 25px;
  }
  #root {
    background-color: var(--PaleBlue);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}