/* Design */
:root {
  --Orange: hsl(31, 77%, 52%);
  --DarkCyan: hsl(184, 100%, 22%);
  --VeryDarkCyan: hsl(179, 100%, 13%);
  --LightGray: hsl(0, 0%, 95%); /* background, headings, buttons */
  --White: hsla(0, 0%, 100%, 0.75); /* paragraphs */
}

body {
  background-color: var(--LightGray);
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}

#root {
  max-width: 960px;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 12px;
  margin: 2rem;
  overflow: hidden;
}

main > div {
  padding: 40px;
}


@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  main {
    margin: 2rem .5rem;
  }
}
