/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Design */
:root {
  --DarkGray: hsl(0, 0%, 59%);
  --DarkCyan: hsl(185, 75%, 39%);
  --DesaturatedBlue: hsl(229, 23%, 23%);
  --GrayishBlue: hsl(227, 10%, 46%);
}

body {
  font-family: "Kumbh Sans", serif;
  background-color: var(--DarkCyan);
  background-image: url(../public/images/bg-pattern-top.svg),
    url(../public/images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 48vw bottom 40vh, left 50vw top 50vh;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
