.dialog {
  background: var(--Grey-900);
  color: var(--White);
  padding: 2rem;
  border-radius: 10px;
  max-width: 30rem;
  position: fixed;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert-title {
  display: flex;
  gap: .5rem;
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}