/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Design */
:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}

body {
  font-size: 18px;
  background-color: #f9f9f9;
  font-family: "DM Sans", sans-serif;
  padding: 2rem 1rem;
}
