/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Design */
:root {
  --Cyan: hsl(179, 62%, 43%);
  --BrightYellow: hsl(71, 73%, 54%);
  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
}

body {
  background-color: var(--LightGray);
  font-family: "Karla", serif;
  font-size: 14px;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
}