/* layout styles */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}



/* ui component */
.product-img {
  position: relative;
  margin-bottom: 1.5rem;
}
.product-img > img {
  border-radius: 8px;
}

.product-category {
  color: var(--Rose-400);
  font-size: .95rem;
}

.product-name {
  color: var(--Rose-900);
  font-weight: var(--fw-600);
}

.product-price {
  color: var(--Red);
  font-weight: var(--fw-600);
}


/* RWD */
@media screen and (max-width:768px) and (min-width:425px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (min-width:768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width:1024px) and (max-width:1300px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width:1300px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}