.plan-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  background: var(--VeryPaleBlue);
  border-radius: 10px;
}

.plan {
  margin-right: 15px;
}

.plan :first-child {
  color: var(--DarkBlue);
  font-weight: 900;
  font-size: 13px;
  margin: 0;
}

.plan :last-child {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
}

.plan-container a {
  color: var(--BrightBlue);
  font-weight: 900;
  font-size: 12px;
  cursor: pointer;
}

.plan-container > a:hover {
  text-decoration: none;
}