.extension-item {
  background: var(--Neutral-0);
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid var(--Neutral-200);
}

.extension-info {
  display: flex;
}

.extension-icon {
  align-self: start;
}

.extension-details {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-left: 1rem;
}

.extension-name {
  color: var(--Neutral-900);
}

.extension-description {
  color: var(--Neutral-600);
  font-weight: var(--fw-500);
}

.extension-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.remove-button {
  background: var(--Neutral-0);
  padding: .5rem 1rem;
  border-radius: 20px;
  border: 1px solid var(--Neutral-300);
  font-family: var(--ff);
  font-weight: var(--fw-700);
  color: var(--Neutral-900);
  font-size: .9rem;
  cursor: pointer;
}


/* hover */
.remove-button:hover {
  background: var(--Red-700);
  color: var(--Neutral-0);
}

/* focus */
.remove-button:focus-visible {
  outline: 2px solid var(--Red-700);
  background: var(--Neutral-100);
  border: 1px solid var(--Neutral-0);
}

/* dark mode */
.dark-mode-extension-item {
  background: var(--Neutral-800);
  border: 1px solid var(--Neutral-600);
}

.dark-mode-extension-name {
  color: var(--Neutral-0);
}

.dark-mode-extension-description {
  color: var(--Neutral-100);
}

.dark-mode-remove-button {
  background: var(--Neutral-800);
  color: var(--Neutral-0);
}

/* dark mode hover */
.dark-mode-remove-button:hover {
  border: 1px solid var(--Red-400);
  background: var(--Red-400);
  color: var(--Neutral-900);
}

/* dark mode focus */
.dark-mode-remove-button:focus-visible {
  background: var(--Neutral-600);
  border: 1px solid var(--Neutral-90000);
}

