.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
  align-self: center;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Neutral-300);
  border-radius: 26px;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--Red-700);
}

input:checked+.slider::before {
  transform: translateX(16px);
}

/* hover */
input:checked+.slider:hover {
  background-color: var(--Red-500);
}

/* focus */
span:focus-visible {
  outline: 2px solid var(--Red-700);
  border: 1px solid var(--Neutral-0);
}



/* dark mode */
.dark-mode-slider {
  background-color: var(--Neutral-600);
}

input:checked+.dark-mode-slider {
  background-color: var(--Red-400);
}


/* dark mode hover */
input:checked+.dark-mode-slider:hover {
  background-color: var(--Red-500);
}

/* dark mode focus */
.dark-mode-slider:focus-visible {
  border: 1px solid var(--Neutral-900);
}